{% extends 'base.html' %}



{% block head %}
<title>Index Page</title>
{% endblock %}

{% block body %}

<div class="dashboard">
    <div class="tab-navigator">
        <h1 class="dash-title">Dashboard</h1>
        <ul class="dash-tabs">
            <li id="profile-tab">
                <span class="material-symbols-outlined">Person</span>
                <button class="tablinks" onclick="toggleDiv1()">Profile</button>
            </li>
            <li id="organize-tab">
                <span class="material-symbols-outlined">sort</span>
                <button class="tablinks" onclick="toggleDiv2()">Organize</button>
            </li>
            <li id="edit-tab">
                <span class="material-symbols-outlined">edit</span>
                <button class="tablinks" onclick="toggleDiv3()">Edit Profile</button>
            </li>
            <li id="logout-tab">
                <span class="material-symbols-outlined">logout</span>
                <a class="tablinks" href="{{ url_for('home') }}">Logout</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="profile-content">
            <h1>Profile</h1>
        </div>
        <div id="organize-content">
            <h1>Organize</h1>
        </div>
        <div id="edit-content">
            <h1>Edit Profile</h1>
        </div>
    </div>
</div>

{% endblock %}
